# Getting Started with Python for Data Analysis

### Real world use case: Small Supermarket Analysis

In [2]:
# Step 1: Import our data analysis toolkit
import pandas as pd # Will load and organize the sales data
import numpy as np # Will calculate averages, totals, and trends
import matplotlib.pyplot as plt # Will create charts showing sales over time
import seaborn as sns # Will make beautiful visualizations of customer patterns

print("Libraries imported successfully! Ready to analyze supermarket data!")

Matplotlib is building the font cache; this may take a moment.

Libraries imported successfully! Ready to analyze supermarket data!

In [3]:
print(f"ðŸ“Š Pandas version: {pd.__version__}")
print(f"ðŸ”¢ Numpy version: {np.__version__}")
print("ðŸŽ¨ Matplotlib and Seaborn are ready for visualization!")

ðŸ“Š Pandas version: 2.2.3
ðŸ”¢ Numpy version: 2.1.3
ðŸŽ¨ Matplotlib and Seaborn are ready for visualization!

In [8]:
# === STEP 3: Create a simple example ===
# Let's create some sample data to prove everything works
sample_data = {
    'Product': ['Apples', 'Bananas', 'Oranges', 'Bread', 'Milk'],
    'Sales': [150, 200, 120, 300, 250],
    'Profit': [45, 80, 36, 90, 75]
}
df=pd.DataFrame(sample_data)
print("Sample supermarket data:")
print(df)
print("Everything is working! You're ready to analyze data!")

Sample supermarket data:
   Product  Sales  Profit
0   Apples    150      45
1  Bananas    200      80
2  Oranges    120      36
3    Bread    300      90
4     Milk    250      75
Everything is working! You're ready to analyze data!

In [13]:
df.head(5)

   Product  Sales  Profit
0   Apples    150      45
1  Bananas    200      80
2  Oranges    120      36
3    Bread    300      90
4     Milk    250      75